<div *ngIf="recipe && recipe.id" class="modal-content">
    <div class="row recipe-bloc flow-text">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h1>{{recipe.title}}</h1>
                    <h2 *ngIf="recipe.subTitle">{{recipe.subTitle}}</h2>
                    <h3>Recipe ID: {{recipe.acapID}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 light-green lighten-3 meta-bar">
                    <div class="left" *ngIf="recipe.creator"><label>Created By:</label> {{recipe.creator}}</div>
                    <div class="left">
                        <label *ngIf="recipe.updated">Updated On:</label> <span *ngIf="recipe.published">{{recipe.updated | date:'MMM/y'}}</span>
                    </div>
                    <div class="right">
                        <label *ngIf="recipe.published">Published</label><span *ngIf="recipe.published">{{recipe.published | date:'MMM/y'}}</span>
                        <label *ngIf="! recipe.published">Un-Published</label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="recipe.description">
                <div class="col s12 ">
                    <p>{{recipe.description}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 ">
                    <table class="striped ">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Units</th>
                                <th>Ingredient</th>
                                <th>Prep</th>
                                <th>Optional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of recipe.ingredients; ">
                                <td>{{ingredient.qty}}</td>
                                <td>{{ingredient.unit}}</td>
                                <td>{{ingredient.name}}</td>
                                <td>{{ingredient.preparation}}</td>
                                <td><i class="material-icons light-green-text " *ngIf="ingredient.optional ">check</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 ">
                    <dl *ngFor="let method of recipe.method; ">
                        <dt>Step {{method.step}}:</dt>
                        <dd>{{method.text}}</dd>
                    </dl>
                </div>
            </div>
            <div class="row ">
                <div class="col s12 ">
                    <p *ngIf="recipe.tags.length ">
                        <span *ngFor="let tag of recipe.tags; " class="chip light-green lighten-3 ">#{{tag.text}}</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer align-center ">
            <p class="left ">
                <i class="material-icons amber-text text-accent-4 left ">warning</i>Note: This preview will not reflect any unsaved changes.</p>
            <a class="btn-flat modal-close "><i class="material-icons left ">close</i> Dismiss</a>
        </div>
    </div>
</div>